.navbar-brand, .navbar-nav .nav-link {
    color: #fff;
}
.navbar-brand:hover, .navbar-nav .nav-link:hover {
    color: #f8b195;
}

/* Personalizzazione della sidebar */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    background-color: #444;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Altri stili */
.burgermenu {
    font-size: 30px;
    cursor: pointer;
}

.search-navbar {
    display: flex;
    margin-bottom: 10px;
}

.search-navbar input[type="text"] {
    padding: 10px;
    width: 80%;
    border: none;
    border-radius: 5px;
}

.search-navbar button {
    padding: 10px;
    border: none;
    background-color: #333;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.inline-nav {
    display: inline-block;
}

ul, ol {
    list-style-type: none;
}

.closebtn {
    width: 16px; /* Imposta la larghezza desiderata */
    height: 16px; /* Imposta l'altezza desiderata */
}

.image-container img {
    width: 1200px; /* Imposta la larghezza desiderata */
    height: 700px; /* Imposta l'altezza desiderata */
    overflow: hidden; /* Nasconde le parti dell'immagine che superano i limiti */
}

.hero {
    position: relative;
    height: 300px; /* Imposta l'altezza desiderata della sezione hero */
    overflow: hidden;
}

.carousel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.carousel-inner {
    height: 100%;
}

.carousel-item {
    height: 100%;
}

.carousel-item img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/* Personalizzazione della sidebar */
#sidebar {
    height: 100%;
    width: 250px; /* Larghezza desiderata */
    position: fixed;
    top: 0;
    left: 0;
    background-color: #111; /* Colore di sfondo */
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    z-index: 9999; /* Assicura che la sidebar sia sopra gli altri contenuti */
}

#sidebar .sidebar-header {
    padding: 20px;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #666; /* Linea separatrice */
}

#sidebar ul.list-unstyled li a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 16px;
    color: white;
    display: block;
    transition: 0.3s;
}

#sidebar ul.list-unstyled li a:hover {
    background-color: #333; /* Colore di sfondo al passaggio del mouse */
}

#sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 24px;
    margin-left: 50px;
    cursor: pointer;
}

/* Imposta il margine a sinistra del contenuto principale per far spazio alla sidebar */
#content {
    margin-left: 250px; /* Larghezza della sidebar */
    transition: margin-left 0.5s;
}

/*Tolgo l'effetto link dal titolo*/
.navbar a {
    text-decoration: none;
    color: white;
}

.navbar a,
.navbar button,
.navbar input[type="text"] {
    color: var(--bs-purple);
}

.burgermenu i {
    color: var(--bs-purple);
}


/* Stile per i bottoni viola con testo bianco */
.btn-purple {
    background-color: var(--bs-purple);
    color: white;
}

/* Hover effect per i bottoni */
.btn-purple:hover {
    background-color:  var(--bs-blue); /* Cambia il colore di sfondo al passaggio del mouse */
}

input {
    border: 1px;
}



